Notebook para a houdout estratificado

In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
df = pd.read_csv('blogset-duplicate.csv')

In [4]:
df.shape

(2604, 5)

In [5]:
df.dropna(axis=1, inplace=True)

In [6]:
df.shape

(2537, 5)

In [7]:
df.columns

Index(['AuthorID', 'Qual sua idade?', 'Qual seu sexo?', 'Texts', 'AgeClass'], dtype='object')

In [7]:
def genderGroups(text):
    if(text == "Masculino"):
        return 0
    else:
        return 1

In [8]:
df["GenderClass"] = df["Qual seu sexo?"].apply(genderGroups)

In [10]:
df["AgeClass"].value_counts()

1    992
2    887
0    658
Name: AgeClass, dtype: int64

In [9]:
df_fem = df[df["GenderClass"]==1]
df_fem["AgeClass"].value_counts()

1    425
2    340
0    275
Name: AgeClass, dtype: int64

In [10]:
df_masc = df[df["GenderClass"]==0]
df_masc["AgeClass"].value_counts()

1    596
2    574
0    394
Name: AgeClass, dtype: int64

In [11]:
df.reset_index(drop=True, inplace=True)

In [12]:
def GroupAgeAndGender(df):
    ageGender = []
    for _, line in df.iterrows():
        if line["AgeClass"]==0 and line["GenderClass"]==1:
            ageGender.append(0)
        elif line["AgeClass"]==0 and line["GenderClass"]==0:
            ageGender.append(1)
        elif line["AgeClass"]==1 and line["GenderClass"]==1:
            ageGender.append(2)
        elif line["AgeClass"]==1 and line["GenderClass"]==0:
            ageGender.append(3)
        elif line["AgeClass"]==2 and line["GenderClass"]==1:
            ageGender.append(4)
        elif line["AgeClass"]==2 and line["GenderClass"]==0:
            ageGender.append(5)
    df["AgeGender"] = ageGender

In [13]:
GroupAgeAndGender(df)

In [14]:
df.head()

,AuthorID,Qual sua idade?,Qual seu sexo?,Texts,AgeClass,GenderClass,AgeGender
0,11807897332463595720,19 à 25 anos,Masculino,O designer inglês Graham Smith criou uma série...,0,0,1
1,5737856882009129069,mais de 60 anos,Masculino,\n\n\n\n\n\n\n\n\n\nA sonda espacial Soho da N...,2,0,5
2,4650502123448146932,40 à 60 anos,Masculino,O pessoal da ultra-direita anda mais animado q...,2,0,5
3,2534662484984494401,40 à 60 anos,Masculino,\n\nColaborou Vandeli - 26/12/1 12:25h\n\n\nA ...,2,0,5
4,8353750961625391396,30 à 40 anos,Masculino,\n\n\n\n\nA Sra. Tweedy (Miranda Richardson/Ná...,1,0,3

In [15]:
class_list = df["AgeGender"].value_counts().index.to_list()
values_list = df["AgeGender"].value_counts().values.tolist()

In [16]:
train_values = []
for values in values_list:
    train_values.append(round(values*0.8))
train_values

[464, 444, 330, 310, 266, 216]

In [17]:
test_values = [i-j for i, j in zip(values_list, train_values)]

In [18]:
train_values, test_values, values_list

([464, 444, 330, 310, 266, 216],
 [116, 111, 82, 78, 66, 54],
 [580, 555, 412, 388, 332, 270])

In [19]:
df_0 = df[df["AgeGender"]==0]
df_1 = df[df["AgeGender"]==1]
df_2 = df[df["AgeGender"]==2]
df_3 = df[df["AgeGender"]==3]
df_4 = df[df["AgeGender"]==4]
df_5 = df[df["AgeGender"]==5]

In [20]:
df_train_0 = df_0.sample(frac=0.8, random_state=1255)
df_test_0=df_0.drop(df_train_0.index)
df_train_1 = df_1.sample(frac=0.8, random_state=23)
df_test_1=df_1.drop(df_train_1.index)
df_train_2 = df_2.sample(frac=0.8, random_state=500)
df_test_2=df_2.drop(df_train_2.index)
df_train_3 = df_3.sample(frac=0.8, random_state=785)
df_test_3=df_3.drop(df_train_3.index)
df_train_4 = df_4.sample(frac=0.8, random_state=9)
df_test_4=df_4.drop(df_train_4.index)
df_train_5 = df_5.sample(frac=0.8, random_state=65)
df_test_5=df_5.drop(df_train_5.index)

In [21]:
df_train = pd.concat([df_train_0, df_train_1, df_train_2, df_train_3, df_train_4, df_train_5]).sample(frac=1)
df_test = pd.concat([df_test_0, df_test_1, df_test_2, df_test_3, df_test_4, df_test_5]).sample(frac=1)

In [22]:
df_train["AgeGender"].value_counts(), train_values

(3    464
 5    444
 2    330
 1    310
 4    266
 0    216
 Name: AgeGender, dtype: int64,
 [464, 444, 330, 310, 266, 216])

In [23]:
df_test["AgeGender"].value_counts(), test_values

(3    116
 5    111
 2     82
 1     78
 4     66
 0     54
 Name: AgeGender, dtype: int64,
 [116, 111, 82, 78, 66, 54])

In [24]:
df_train.to_csv(r"C:\Users\alici\Documents\tcc\v3\particoes\blogsetbr\houdout\train.csv")
df_test.to_csv(r"C:\Users\alici\Documents\tcc\v3\particoes\blogsetbr\houdout\test.csv")

In [ ]:
df_train = pd.